<!-- Menu Container -->
<a-entity 
    id="menu"
    bind__visible="menuActive"
    position= "0 1.4 -2.3">

    <a-entity
        id="menuBackground"
        mixin="slice"
        slice9="width: 3.5; height: 2; side: double; transparent: true; debug: false;"
        render-order="menu"
        position="0 0 -2.5"></a-entity>

    <a-entity id="mainMenu">
        <a-plane
            id="startButton" material="fog: true; side: front; transparent: false; wireframe: false; visible: true" geometry="skipCache: false"
            mixin="menuButton"
            clickable
            bind-toggle__raycastable="menuActive"
            proxy-event="event: click; to: a-scene; as: startgame"
            position="0 0.3 -2.45"
            render-order="menu">
            <a-entity 
                id="startButtonText"
                mixin="menuText" 
                text="value: Start Game; side: double"></a-entity>
        </a-plane>

        <a-plane
            id="leaderboardButton"
            mixin="menuButton"
            bind-toggle__raycastable="menuActive"
            proxy-event="event: click; to: a-scene; as: showleaderboard"
            position="0 -0.3 -2.45"
            render-order="menu">
            <a-entity 
                id="startButtonText" 
                mixin="menuText"
                text="value: Show Leaderboard"></a-entity>
        </a-plane>
    
    </a-entity>

    <require path="templates/leaderboard.html"></require>

</a-entity>
